#changemode.dark-mode {
    background-color: #171717;
    color: #ffffff;
  }
  #changemode.dark-mode a {
    color: #ffffff;
  }
  #changemode.dark-mode a.w--current {
   color: #707AFF;
  }
    
  #changemode.dark-mode path {
    fill: #ffffff;
  }
  
  #changemode.dark-mode .submit-main .div-block-11 .rich-text-block-10 {
    background-color: #ffffff;
    color: #000000;
  }
  
  #changemode.dark-mode .footer-subscribe {
    fill: #ffffff;
  }
    
  #changemode.dark-mode .tool-item-columns-new {
    background-color: #2b2b2b;
    }
    
  #changemode.dark-mode .dropdown-toggle-2 {
    color: #ffffff;
    }
    
    #changemode.dark-mode .footer-copyright {
    color: #ffffff;
    }
    
     #changemode.dark-mode .columns-6 {
    background-color: #999999;
    }
    
    #changemode.dark-mode .text-block-55{
    color: #ffffff;
    }
    
    
    #changemode.dark-mode .thank-you-link{
    color: #a0a0a0;
    }
    
    #changemode.dark-mode .collection-item-6{
    background-color: #2b2b2b;
    }
    
  
    
    #changemode.dark-mode .white-cover{
    color: #ffffff;
    }
    #changemode.dark-mode .white-text-dm{
    color: #ffffff;
    opacity: 0.8;
    }
    #changemode.dark-mode .white-text-db-gc{
    color: #ffffff;
    opacity: 0.8;
    }
    #changemode.dark-mode .black-text-db-gc{
    color: #000000;
    }
    
   #changemode.dark-mode .footer-social-link-three-path{
    color: #ffffff;
    }
    #changemode.dark-mode .blue-text-dm{
    color: #0f89f3;
    }
.toggleTheme {
      position: absolute;
      margin: auto;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      height: 1.6rem;
      background-color: #E8E8E8;
      transition: .4s;
      border-radius: 8rem;
      width: 3rem;
      padding: .2rem;
  }
  .toggleTheme:before {
      position: absolute;
      content: '';
      height: 1.2rem;
      width: 1.2rem;
      background-color: #FFFFFF;
      text-align: center;
      transition: .4s;
      border-radius: 4rem;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%23707AFF' d='M16 4a1.714 1.714 0 110 3.429A1.714 1.714 0 0116 4zM24.485 7.515a1.714 1.714 0 11-2.424 2.424 1.714 1.714 0 012.424-2.424zM7.429 16A1.714 1.714 0 104 16a1.714 1.714 0 003.429 0zM26.286 14.286a1.714 1.714 0 110 3.428 1.714 1.714 0 010-3.428zM9.94 24.485a1.714 1.714 0 10-2.425-2.424 1.714 1.714 0 002.424 2.424zM24.485 22.06a1.714 1.714 0 11-2.424 2.425 1.714 1.714 0 012.424-2.424zM16 24.571A1.714 1.714 0 1116 28a1.714 1.714 0 010-3.429zM9.94 7.515a1.714 1.714 0 10-2.425 2.424 1.714 1.714 0 002.424-2.424zM22 16a6 6 0 11-12 0 6 6 0 0112 0z'/%3E%3C/svg%3E%0A");
  }
  #toggleTheme {
    display: none;
  }
  input:checked+.toggleTheme {
      background-color: #4ab8ff;
  }
  input:checked+.toggleTheme:before {
      content: '';
      transform: translateX(calc(2.8rem - 1.2rem - 0.2rem));
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%23707AFF' d='M25.955 16.163a8 8 0 01-10.91-10.91C9.97 5.732 6 10.005 6 15.206c0 5.523 4.477 10 10 10 5.2 0 9.474-3.97 9.955-9.044z'/%3E%3C/svg%3E%0A");
  }